<div>
  <div class="container" fxFill fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" >
    <div fxFlex="60%" class="events">
      <div fxLayout="column" fxLayoutAlign="center">
        <div fxFlex="50">
          <h3>Wedding Ceremony</h3>
          <p>
            1:00 pm, September 14th, 2019 <br/>
            Lantern Court - Holden Arboretum <br/>
            9203 Kirtland Chardon Rd, Kirtland, OH 44094 <br/>
          </p>

          <a class="directions" href="https://www.google.com/maps?saddr=My+Location&daddr=Lantern+Court+Holden+Arboretum+9203+Kirtland+Chardon+Rd+Kirtland+OH+44094"> Get Directions </a>
        </div>
        <div fxFlex="50">
          <h3>Brunch</h3>
          <p>
            9:00 AM, September 15th, 2019 <br/>
            Best Western Plus Lawnfield Inn & Suites <br/>
            8434 Mentor Ave, Mentor, OH 44060 <br/>
          </p>

          <a class="directions" href="https://www.google.com/maps?saddr=My+Location&daddr=Lantern+Court+Holden+Arboretum+9203+Kirtland+Chardon+Rd+Kirtland+OH+44094"> Get Directions </a>
        </div>
      </div>
    </div>
    <div fxFlex="40%" class="map">
      <div>
        Map
        <img src="https://via.placeholder.com/100x100">
      </div>
    </div>
  </div>
</div>



