.events {
}

.map {
  padding-bottom: 10px;
}

.container {
  width: 70%;
}

.event-name {
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--main-color);
}

.map-event-name {
  font-family: 'Cardo', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.directions {
  font-size: 16pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--link-color);
}

:host /deep/ .yaga-map {
  min-height: 450px;
  max-width: 450px;
}
