<div>
  <div class="container" fxFill fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" >
    <div fxFlex="60%" class="events">
      <div fxLayout="column" fxLayoutAlign="center">
        <div *ngFor="let event of this.events" fxFlex="50">
          <h3 class="event-name">{{event.eventName}}</h3>
          <p>
            {{event.dateTime}}<br/>
            {{event.locationName}} <br/>
            {{event.address}}<br/>
          </p>

          <a class="directions" href="{{event.directionLink}}"> Get Directions </a>
        </div>
      </div>
    </div>
    <div fxFlex="40%" class="map">
      <div>
        <yaga-map
          [lat]="41.62965"
          [lng]="-81.36372"
          [zoom]="11"
          [minZoom]="10"
        >
          <yaga-zoom-control></yaga-zoom-control>
          <div *ngFor="let event of this.events">
            <yaga-marker [lat]="event.lat" [lng]="event.long">
              <yaga-icon
                [iconUrl]="'./assets/leaflet/images/marker-icon.png'"
                [iconSize]="[25, 41]"
                [iconAnchor]="[13, 10]"
                [shadowUrl]="'./assets/leaflet/images/marker-shadow.png'"
              ></yaga-icon>
              <yaga-popup
                [autoPan]="true"
                [autoPanPadding]="true"
                [autoPanPaddingTopLeft]="true"
                [autoPanPaddingBottomRight]="true"
                [autoClose]="true"
                [keepInView]="true"
                [className]="'map-popup'"
              >
                <h3 class="map-event-name">{{event.eventName}}</h3>
                <p>
                  {{event.dateTime}}<br/>
                  {{event.locationName}} <br/>
                  {{event.address}}<br/>
                </p>
              </yaga-popup>
            </yaga-marker>
            <yaga-tile-layer
              [(url)]="tileLayerUrl"
            ></yaga-tile-layer>
          </div>
          <yaga-attribution-control></yaga-attribution-control>
        </yaga-map>
      </div>
    </div>
  </div>
</div>



