<div class="menu">
    <h2>Appetizer</h2>
      <h3>Poached Pear Salad</h3>
      <p>Poached pear with jewel blend mixed greens, served with candied walnuts, local goat cheese and dried cranberries. Finished with champagne vinaigrette</p>
    <h2>Entr&egrave;es</h2>
      <h3>Blackened Chicken Pesto</h3>
        <p>Rubbed with Cajun spice and blackened. Served with a pistachio pesto cream</p>
      <h3>Braised Boneless Beef Short Rib</h3>
        <p>Short ribs braised in red wine and aromatic vegetables in a pan reduction</p>
      <h3>Vegetable Terrine</h3>
        <p>Grilled portabella mushroom, eggplant, zucchini, yellow squash, and roasted red pepper stack. Drizzled with a balsamic reduction</p>
</div>
