<div>
  <h1>Gift Registry</h1>
  <img src="assets/photos/root_SmallDivider.png">
  <div>
    <h2>Amazon</h2>
    <a href="{{this.amazonRegistry}}"><span class="registryLink">View Registry</span></a>
  </div>
  <br/>
  <img src="assets/photos/root_SmallDivider.png">
  <br/>
  <div>
    <h2>Frontgate</h2>
    <a href="{{this.frontgateRegistry}}"><span class="registryLink">View Registry</span></a>
  </div>
  <br/>
  <img src="assets/photos/root_SmallDivider.png">
  <br/>
  <div>
    <h2>Dillard's</h2>
    <a href="{{this.dillardsRegistry}}"><span class="registryLink">View Registry</span></a>
  </div>
  <br/>
  <img src="assets/photos/root_SmallDivider.png">
  <br/>
  <div>
    <h2>Sur La Table</h2>
    <a href="{{this.surLaTable}}"><span class="registryLink">View Registry</span></a>
  </div>
  <div class="padder">
  </div>
</div>
