<div class="form-container" *ngIf="!reservation; else reservationTemplate">
  <form class="rsvp-form" [formGroup]="reservationLookupForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Enter the name on your invitation</mat-label>
      <input type="text" placeholder="John and Jane Doe" matInput formControlName="reservation" [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!reservationLookupForm.valid">Find RSVP</button>
  </form>
</div>
<ng-template #reservationTemplate>
  <app-reservation (formSubmitted)="formSubmitted($event)" [(reservation)]="reservation"></app-reservation>
</ng-template>

