ng-masonry-grid{
  width: 70%;
}

ng-masonry-grid-item {
  border: 8px solid rgb(255, 255, 255);
  /*noinspection CssRedundantUnit*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  margin-bottom: 5px !important;
}

.grid-container {
  justify-content: center;
  align-items: center;
  align-content: center;
}


