.linebreak {
  width: 100%;
  /*background: url(/assets/photos/vines.png) repeat-x center top;*/
  background-size: 15vh;
  padding-top: 5px;

}

.title-center {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.title-names {
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 3px;
  font-size: 2.5vw;
  display: inline-flex;
  font-weight: 200;
  font-family: Cardo, serif;
  color: var(--main-color);
}

.title-image {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 160px;
  height: 50px;
}

.nav-links {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer {
  font-weight: lighter;
  font-size: xx-small;
  overflow: hidden;
  text-align: center;
}

.footer-content {
  display: inline-block;
}

mat-toolbar {
  background-color: white;
}


