<div *ngIf="fireAuth.user | async as user; else showLogin">
  <mat-toolbar color="warn">
    <span>Administrative Links</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="logout()" matTooltip="Log out" [matTooltipPosition]="'left'"><mat-icon>exit_to_app</mat-icon></button>
  </mat-toolbar>
  <div *ngIf="isValidUser(user); else invalidUser">
    <mat-tab-group>
      <mat-tab label="Reservations">
        <app-admin-reservations></app-admin-reservations>
      </mat-tab>
      <mat-tab label="Photos">
        <app-admin-photos></app-admin-photos>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #invalidUser>
    <span>Hey, you're not supposed to be here!</span>
  </ng-template>
</div>
<ng-template #showLogin>
  <button mat-raised-button color="warn" (click)="login()">Login with Google to view Administrative actions</button>
  <p></p>
</ng-template>
