<div *ngIf="reservation" >
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Reservation for {{ reservation.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="guest-card-content">
          <div>
            <mat-label>Will you be able to attend?</mat-label>
            <mat-radio-group formControlName="willAttend" class="radio-group" required>
              <br/>
              <mat-radio-button [checked]="reservation.willAttend" class="radio-button" value={{true}}>Yes, I'll attend</mat-radio-button>
              <mat-radio-button [checked]="!reservation.willAttend" class="radio-button" value={{false}}>Regretfully decline</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field  class="form-component">
            <mat-label>Email Address</mat-label>
            <input type="email" placeholder="yourEmail@example.com" matInput formControlName="email" email="true">
            <mat-hint> [Optional] After submitting your RSVP, you'll receive an email confirmation</mat-hint>
            <mat-error *ngIf="reservationForm.controls['email'].hasError('email')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <br/>
          <div formArrayName="guests" class="main-card-content" *ngIf="reservationForm.get('willAttend').value.toString() === 'true'">
            <mat-card *ngFor="let guest of reservationForm.controls['guests'].controls; let i = index;" formGroupName="{{i}}" class="guest-card">
              <mat-card-header>
                <mat-card-title>Guest #{{ i+1 }} of {{ reservation.maxGuests }}</mat-card-title>
              </mat-card-header>
              <mat-card-content class="guest-card-content">
                <mat-form-field class="form-component">
                  <mat-label>Guest Name</mat-label>
                  <input type="text" placeholder="John Doe" matInput formControlName="guestName" required>
                  <mat-error *ngIf="hasError(i, 'guestName')">
                   Please enter a name for this guest
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="form-component">
                  <mat-select placeholder="Dinner selection" formControlName="mealChoice" [compareWith]="compareFn" required>
                    <mat-option *ngFor="let choice of MealChoiceEnum | enumToArray" [value]="MealChoiceEnum[choice]">{{ getDisplayName(choice) }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="hasError(i, 'mealChoice')">
                    Please select a dinner option for this guest
                  </mat-error>
                </mat-form-field>
                <mat-label>Will you be able to attend brunch Sunday?</mat-label>
                <mat-radio-group formControlName="brunch" class="radio-group" required>
                  <mat-radio-button [checked]="guest.controls['brunch'].value === true" class="radio-button" value={{true}}>Yes, I'll attend </mat-radio-button>
                  <mat-radio-button [checked]="guest.controls['brunch'].value === false" class="radio-button" value={{false}}>Regretfully decline</mat-radio-button>
                </mat-radio-group>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-raised-button color="accent" *ngIf="i > 0" (click)="removeGuest(i)"><mat-icon>remove</mat-icon>Remove</button>
              </mat-card-actions>
            </mat-card>
            <button mat-raised-button *ngIf="reservationForm.controls['guests'].length < reservation.maxGuests" (click)="addGuest()">
              <mat-icon>add</mat-icon>Add
            </button>
          </div>
        </mat-card-content>
        <mat-card-actions >
          <button mat-raised-button color="primary" type="submit" [(disabled)]="!reservationForm.valid">Submit RSVP</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>
