.title {
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  color: var(--main-color);
}

a {
  font-size: 15pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--link-color);
}
