<div class="img-box">
  <img class="center-image" src="assets/photos/collage.jpg">
</div>
<h2 class="please-join">
  Please join us for our wedding celebration on
</h2>
<time>September 14, 2019</time>
<h2 style="color: var(--main-color);">Our Story</h2>
<div class="center">
  <div class="story-container">

    <p class="our-story">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida cum sociis natoque penatibus et magnis dis. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Augue ut lectus arcu bibendum at. Malesuada proin libero nunc consequat. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Id leo in vitae turpis massa sed elementum tempus egestas. Non quam lacus suspendisse faucibus interdum. Eget mauris pharetra et ultrices neque ornare aenean euismod. Faucibus a pellentesque sit amet porttitor eget dolor.
    </p>
    <p class="our-story">
      Egestas integer eget aliquet nibh praesent. Rhoncus est pellentesque elit ullamcorper dignissim. Justo laoreet sit amet cursus. Laoreet sit amet cursus sit amet. Tempor id eu nisl nunc mi ipsum faucibus. Id aliquet lectus proin nibh nisl condimentum id venenatis a. Et malesuada fames ac turpis. Praesent elementum facilisis leo vel fringilla. Morbi tristique senectus et netus et malesuada fames. Sit amet mauris commodo quis. Nunc id cursus metus aliquam. Magna etiam tempor orci eu lobortis. Enim sit amet venenatis urna cursus eget nunc scelerisque. Turpis tincidunt id aliquet risus. Ipsum a arcu cursus vitae congue mauris. Cras adipiscing enim eu turpis egestas. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Egestas congue quisque egestas diam in arcu. Nam libero justo laoreet sit amet cursus.
    </p>
  </div>
</div>


